@charset "UTF-8";

body {
    background-color: rgba(82, 177, 59, 0.63);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: rgba(10, 94, 10, 0.87);
}
h1#principal{
    text-align: center;
    background-color:  rgba(82, 177, 59, 0.63);
    color:white;
}

h2 {
    color: rgb(63, 202, 63);
}
.basico{
    color: rgb(28, 80, 12);
    font-weight: bold;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}
.destaque{
    background-color: rgba(255, 255, 0, 0.425);
}