@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #589A8D, #265C4B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(160, 41%, 7%, 0.788);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #146551;
    text-shadow: 1px 1px 4px rgba(4, 21, 18, 0.767);
}

h2 {
    color: #007566;
}